[color]
	ui = auto
	pager = true
	interactive = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = cyan
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[user]
	name = Alex Mirkhaydarov
	email = alex.mirkhaydarov@gmail.com
[core]
	editor = vim
	pager = less
[push]
	default = matching
[init]
	defaultBranch = master
