[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[user]
    name = Alex Mirkhaydarov
    email = alex.mirkhaydarov@gmail.com
[core]
    editor = vim
[push]
    default = matching
[init]
	defaultBranch = master
